{
  "root": true,
  "env": { "browser": true, "node": true },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "extraFileExtensions": [".mjs"]
  },
  "plugins": ["@typescript-eslint", "prettier", "simple-import-sort", "import"],
  "rules": {
    "no-console": "warn",
    "prettier/prettier": "warn",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "import/first": "error",
    "import/no-duplicates": "error",
    "import/newline-after-import": "warn"
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": [
        "eslint:recommended",
        "prettier",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-inferrable-types": "off",
        "simple-import-sort/imports": [
          "warn",
          {
            "groups": [
              // Any import that starts with vex goes next.
              ["^.*/vex.*$"],
              // Imports of the index.ts file next.
              ["^.*/index$"],
              // The rest are just the defaults for the eslint-plugin-simple-import-sort plugin:
              // Search for "default groups" here: https://github.com/lydell/eslint-plugin-simple-import-sort
              ["^\\u0000"],
              ["^@?\\w"],
              ["^"],
              ["^\\."]
            ]
          }
        ]
      }
    },
    {
      // Disable some eslint rules in the Gruntfile, demos/*, tools/*.
      "files": ["Gruntfile.js", "{demos,tools}/**/*.{js,cjs,mjs}"],
      "extends": ["eslint:recommended", "prettier"],
      "rules": {
        "no-console": "off",
        "no-unused-vars": "off",
        "no-undef": "off"
      }
    }
  ]
}
