build/
*.lock
ruby_sess.*
.*.swp
.*.swo
.swp
.hi
.[oa]
*.pyc
.svn
.class
# except foo.o which is hand maintained
!foo.o
.DS_Store
.idea/VexFlow.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
node_modules
docs/*.html
docs/public
docs/docco.css
!docs/index.html
npm-debug.log

#eclipse
.project
.settings/
