reference
releases
build
demos/node/output
node_modules
graphs
.eslintcache
.DS_Store
*.lock
ruby_sess.*
.*.swp
.*.swo
.swp
.hi
.[oa]
*.pyc
.svn
.class

# Jetbrains
.idea/.gitignore
.idea/VexFlow.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles

docs/*.html
docs/public
docs/docco.css
!docs/index.html
npm-debug.log

# Eclipse
.project
.settings/

pnpm-lock.yaml
